@model VolleyVerse.Models.Contatti
<link href="~/Content/css/Shop.css" rel="stylesheet" />
@{
    ViewBag.Title = "Informazioni e Contatti";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h2>Informazioni e Contatti</h2>
            <hr />
            <h4> Contatti:</h4>
            <p><strong>Indirizzo:</strong> <span class="fw-light">@Model.address</span></p>
            <p><strong>Telefono:</strong> <span class="fw-light"> @Model.phone_number</span></p>
            <p><strong>Email:</strong> <span class="fw-light"> @Model.email</span></p>
            <h4>Info Iscrizioni:</h4>
            <ul class="fw-light">
                <li>Under 14 Maschile/Femminile: €150 per stagione</li>
                <li>Under 18 Maschile/Femminile: €180 per stagione</li>
                <li>Serie C Maschile/Femminile: €200 per stagione</li>
            </ul>
            <h4>Dove Trovarci:</h4>
            <div class="responsive-iframe-container w-75">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2903.3229944846953!2d10.521640753054294!3d43.307497541681265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d5fdf90cc16d41%3A0x3f7ba28bab3fa0c8!2sA.S.D.%20Volley%20Cecina!5e0!3m2!1sit!2sit!4v1713298005726!5m2!1sit!2sit" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="col-md-4">

            <img src="https://volleybox.net/media/upload/teams/big_1693577869JU3ta.png" class=" volleyLogo img-responsive" alt="Immagine 1" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFd0uJ-0cE8YFEWUXybm_VQkq7VX7V6BksUg&s" class="volleyLogo img-responsive mb-2" alt="Immagine 2" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYsIo8nXDq1AqoizwhLvNIPG9RxsXSDHl5AA&s" class="volleyLogo img-responsive mb-2" alt="Immagine 3" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA4uiZsZm0SnTFUJWsw39trore1CpCCvtrPw&s" class="volleyLogo img-responsive mb-2" alt="Immagine 4" />
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw1dCa4Qdjp5-NNP8bh_WIEDEWGLRfi_BisQ&s" class="volleyLogo img-responsive " alt="Immagine 5" />
        </div>
    </div>
    <div class="row">
        <h4 class="mb-3 mt-3">Seguici anche su </h4>
        <div class="d-flex align-items-center">
            <a class="facebook" href="https://www.facebook.com/"><img class="facebook2" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png" alt="Facebook" /><p class="social">Facebook</p></a>
            <a class="instragram" href="https://www.instagram.com/"><img class="instragram2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="Instagram" /><p class="social">Instragram</p></a>
        </div>

    </div>
</div>

<style>
    .responsive-iframe-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; 
        margin-bottom: 20px;
    }

        .responsive-iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
</style>