@model List<VolleyVerse.Models.Squadra>
<link href="~/Content/css/Shop.css" rel="stylesheet" />
@{
    ViewBag.Title = "Elenco Squadre";
}

<h2>Elenco Squadre</h2>

@foreach (var squadra in Model)
{
    <div>
        <h3>@squadra.team_name</h3>
        <a href="@Url.Action("Dettagli", "Squadre", new { id = squadra.team_id })">
            <img src="@squadra.photo" alt="@squadra.team_name" width="200" height="150" />
        </a>
    </div>
}
