
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body {
    font-family: "Oswald", sans-serif;
}

.title {
    border-top: 2px solid red;
    border-bottom: 2px solid blue;
    margin: 0
}
.card-container {
    height: 100%;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.facebook {
    width: 10%;
    text-decoration: none;
    color: black;
}

.instragram {
    width: 20.5%;
    text-decoration: none;
    color:black;
}
.facebook2 {
    width: 32%;
    margin-right: 0.5rem;
}

.instragram2 {
    width: 16%;
    margin-right: 0.5rem;
}
.volleyLogo{
    width:50%
}