
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


body {
    font-family: "Oswald", sans-serif;
}

.title {
    border-top: 2px solid red;
    border-bottom: 2px solid blue;
    margin: 0
}

.card{
    cursor:pointer;
}